.total{
    background-image: url("scrt.jpg");
    width: 100%;
    height: 102vh;
    border: 1px solid;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    background-color: black;
    width: 400px;
    height: 450px;
    box-shadow: 0 0 30px grey;
}
*{
    Padding : 0;
    Margin :0;
    Box-sizing : border-box ; 
    }
.password{
    color: yellow;
}
.login1{
    width: 70px;
    height: 35px;
    background-color: white;
}
.pass{
    width: 200px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    outline: none;
    padding-left: 20px;
}
.login1:hover{
    background-color: black;
    width: 300px;
    color: white;
}
input a:hover{
    font-weight: bold;
}
.lin{
    color: grey;
}
input::placeholder{
    color: grey;
}
.dont{
    color: grey;
}
.pro label{
    color: grey;
}
.hoiold{
    color: grey;
}
.cauhoi{
    display: flex;
    margin-left: 100px;
}
.pass:hover{
    width: 300px;
}