.totalmenu{
    background: linear-gradient(45deg, #FF7276, yellow);
    height: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.menu{
    width: 700px;
    display: flex;
}
*{
    Padding : 0;
    Margin :0;
    Box-sizing : border-box ; 
    }
    .menu ul {
        list-style-type: none;
        background:	linear;
        text-align: center;
        display: flex;
    }
    
    .menu ul li {
        color: white;
        height: 50px;
        width: 150px;
        line-height: 50px;
    }
    .menu ul li a{
        color: red;
        text-decoration: none;
        display: block;
    }
    .menu ul li a:hover{
        background: linear-gradient( yellow, #FF7276);
        color: #FF7276;
    }
.gameimg{
    box-shadow: 0 0 30px yellow;
}
.lap1{
    color: white;
    font-size: 25px;
    margin-top: 600px;
}
.lap2{
    color: white;
    font-size: 25px;
}
.wlm{
    color: white;
    font-style: italic;
}
.bm{
    width: 150px;
    height: 160px;
}
.fan{
    color: grey;
}
.boxcontact{
    display: flex;
}
.contacttotal{
    display: flex;
    justify-content: space-around;
}
.send{
    background-color: black;
    color: white;
    margin-left: 1154px;
}
.p1{
    font-size: 30px;
}
.tol{
    font-size: 35px;
    color: orange;
}
.re2p{
    font-size: 30px;
    font-weight: bold;
}
.re2ps{
    color: blanchedalmond;
    font-style: italic;
}
.rend{
    font-size: 20px;
    color: #FFFF00;
}
.ln2p{
    font-size: 30px;
}
.ln2ps{
    color: grey;
}
.lnnd{
    font-size: 20px;
}
.send:hover{
    background-color: white;
    color: black;
}
.chooseform{
    display: flex;
    justify-content: space-evenly;
}
.dmimg{
    height: 350px;
    width: 700px;
}
.buttonne{
    background-color: orange;
    color: gray;
    height: 30px;
    width: 150px;
    transition: background-color .5s;
}
.buttonne:hover{
    background-color: red;
    width: 300px;
}
.gameimg{
    height: 500px;
    width: 800px;
}
footer{
    padding: 3px;
    background-color: #26272b;
    height: 160px;
}
.hd{
    font-size: 20px;
    color: white;
}
.lineo{
    display: flex;
    justify-content: space-around;
}
.hdo{
    font-size: 20px;
    color: white;
    margin-left: 270px;
}
.linet{
    display: flex;
}
.hdt{
    font-size: 20px;
    color: white;
    margin-left: 495px;
}
.nene{
    color: white;
    font-weight: bold;
}
.cdg{
    font-size: 80px;
    color: red;
    font-weight: bold;
}
.banner{
    background-image: url("tetet.webp");
    width: 100%;
    height: 93vh;
    border: 1px solid;
    background-size: cover;
    background-position: center;
    background-repeat: none;
}
footer{
    bottom: 0;
    right: 0;
    left: 0;
}